body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

  .spotim-header {
    text-align: center;
    background-color: #0082DD;
    height: 150px;
    padding: 20px;
    color: white;
    .spotim-title {
      font-size: 1.5em;
    }
  }

  #chat-window {
    height: 70vh;
  }

  #message-window {
    height: 100%;
    overflow-y: scroll;
  }

  #message-input {
    font-size: 2em;
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 80%;
    margin-left: 0;
    button {
      background-color: #85cc72;
      border-radius: 8px;
      margin: 0px 10px 5px;
      width: 15%;
    }
    textarea {
      resize: none;
      border-radius: 3px;
      width: 30%;
      margin-left: 10px;
    }
    input {
      border-radius: 4px;
    }
    span {
      width: 30%;
      display: inline-block;
      input {
        width: 100%;
      }
    }
  }

  .message {
    background-color: #96beff;
    border-radius: 9px;
    font-size: 1.45em;
    margin: 0px 10px 5px 10px;
    max-width: 70%;
    line-height: 1.2em;
    display: inline-block;
    padding: 0.5em 10px 0.5em;
  }

  .message-username {
    color: #BBB;
    margin: 0 10px 0;
  }

  .message-username.self {
    text-align: right;
  }

  .message.self {
    background-color: #4eb256;
    color: white;
    float: right;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
}
